name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  FORCE_COLOR: "1"
  UV_CONSTRAINT: "${{ github.workspace }}/.github/constraints.txt"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # for codecov oidc
    strategy:
      matrix:
        python-version: ["3.12", "3.14"]
    steps:
      - uses: actions/checkout@v6
        with: { fetch-depth: 0, filter: blob:none }
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv tool install hatch
      - run: hatch -v env create hatch-test.py${{ matrix.python-version }}
      - run: hatch test --cover --python=${{ matrix.python-version }}
      - run: hatch env run --env hatch-test.py${{ matrix.python-version }} -- coverage xml
      - uses: codecov/codecov-action@v5
        with:
          files: coverage.xml
          use_oidc: true
  check:
    if: always()
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
